.menu{
    cursor: pointer;
}
.submenu{
    position: absolute;
}

@media screen('lg'){
    .submenu{
        right: -200px;
        background-color: #fff;
        width: 100%;
        top: 0;
    }
    .menu:hover + ul{
        display: block;
        
    }

    .submenu:hover{
        display: block;

    }
}