@tailwind base;
@tailwind components;
@tailwind utilities; 


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    background-color: theme('colors.white');
    overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.blue-white-theme > *{
  color: #A5C4D6;
}

.blue-white-theme h2{
    color:rgb(255,255,255);
}
.blue-white-theme ul li{
  color: #A5C4D6;
}
.icon{
  cursor: pointer;
}
.logo{

  object-fit: contain;
}
.animate{
  transform: translateY(0);

  transition: transform 0.4s ease-in-out;
}
.animateUp{
  transform:skewy(2deg) skewx(20deg)  translateY(-140%);
  
}
@media screen("lg"){
  .custom-border{
    clip-path: polygon(0 0, 100% 0, 100% 0, 87% 100%, 0 100%, 0% 50%);
  }
}